/* Inventory.css */
.inventory-container {
    background-color: #222;
    border: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.inventory-slot,
.armor-slots,
.off-hand {
    width: 50px;
    height: 50px;
    background-color: #555;
    border: 1px solid #888;
    margin: 2px;
}

.top-row {
    display: flex;
    margin: 5px 5px 10px 5px;
}

.armor-slots-col {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.armor-slots {
    margin-bottom: 4px;
}

.armor-slots:last-child {
    margin-bottom: 0;
}

.skin-slot {
    background-color: #555;
    border: 1px solid #888;
    margin: 2px 2px 0px 2px;
    flex-grow: 1;
    max-width: 212px;
}

.off-hand-col {
    display: flex;
    /* Enable flexbox for the off-hand column */
    flex-direction: column;
    /* Align items vertically */
    justify-content: flex-end;
    /* Push the off-hand item to the bottom */
}

.inv-row {
    display: flex;
    justify-content: center;
}

.inv-row:last-child {
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Mobile Styling */
@media (max-width: 768px) {

    /* Adjust breakpoint as needed */
    .inventory-container {
        width: 375px;
        /* Set width to 375px on smaller screens */
    }

    .inventory-slot,
    .armor-slots,
    .off-hand {
        width: 45px;
        /* Adjust slot size */
        height: 45px;
        /* Adjust slot size */
    }

    .skin-slot {
        max-width: 184px;
        /* Adjust skin slot width */
    }
}